@import './variables';

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  color: $text-color;
  margin: 0;
  padding: 0;
} 